{% extends 'base-site.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<section class="cart">

    <div class="d-flex align-items-center mb-2">
        <img class="m-2" src=" {{ asset('img/boutton-retour.svg') }} ">
        <a href=" {{ path('all_products') }} "
            class="text-decoration-underline">Retour à la liste des produits</a>
    </div>

    <div class="container pb-2">
        <h1 class="pt-3 mt-5">Panier</h1>
        {% if products | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Article</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td> {{ product.product.title }} </td>
                    <td> {{ product.quantity }} </td>
                    {% if product.product.salePrice %}
                    <td>{{ product.product.salePrice * product.quantity }}&nbsp;€</td>
                    {% else %}
                    <td> {{ product.product.price * product.quantity }}&nbsp;€</td>
                    <td>
                        {% endif %}
                        <a href=" {{ path('cart_remove', {'id': product.product.id}) }} " class="btn btn-sm"><i
                                class="bi bi-trash-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-warning">
                <tr>
                    <td colspan="3" class="text-right">Total : </td>
                    <td> {{ total }}&nbsp;€</td>
                </tr>
            </tfoot>
        </table>
        {% else %}
        <p>Votre panier est vide !</p>
        {% endif %}
    </div>
</section>
{% endblock %}