{% extends 'base-admin.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5 text-capitalize margin-left-none">{{ category.name }} </h1>
</div>
<div class="container crud mt-5">
    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Catégorie parente</th>
                <td>{{ category.parent }}</td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <a class="btn btn-outline-warning text-warning mt-4 mb-4"
            href="{{ path('category_edit', {'id': category.id}) }}">éditer</a>

        {{ include('category-crud/_delete_form.html.twig') }}

        <a class="text-success d-block mb-5" href="{{ path('category_index') }}">Retour à la liste des catégories</a>
    </div>
</div>

{% endblock %}