<div class="dNonePc inputs"id="searchForm">
    {{ form_start(form) }}
    {{ form_end(form) }} 
</div>

{% for product in products %}
        <h2> {{ product.title }} </h2>
        <img src="">
        <p> {{ product.price }} €</p>
        <p> {{ product.description }} </p>
    {% endfor %}