
{% extends 'base-site.html.twig' %}

{% block title %}Rechercher un produit{% endblock %}

{% block body %}

<div class="searchbar mt-4">
    {{ form_start(form) }}
    {{ form_end(form) }} 
</div>

<div class="mt-2 d-flex flex-wrap align-items-center justify-content-center cards-container">
    {% for product in products %}
    <div class="card m-3 row" style="width: 15rem;">
            {% for image in product.images %}
            <img class="p-0" src="{{ asset('img/products/'~ image.url) }}" class="card-img-top" alt=" {{ image.alt }} ">
            {% endfor %}
        <div class="card-body text-center">
            <h5 class="card-title"> {{ product.title }} </h5>
            <p class="card-text"> {{ product.price }} €</p>
            <a href="{{ path('detail_product', {'product': product.id }) }}"
                class="btn button-color-base m-3">Voir</a>
        </div>
    </div>
    {% endfor %}
</div>

{% block bestSeller %}
    {% include 'parts/bestseller.html.twig' %}
{% endblock bestSeller %}

{% block newsletter %}
    {% include 'parts/newsletter.html.twig' %}
{% endblock newsletter %}

{% block infos %}
    {% include 'parts/infos.html.twig' %}
{% endblock infos %}


{% endblock %}