{% extends 'base-site.html.twig' %}

{% block body %}

<div class="container mt-5 mb-5">
    {% for category in categories %}
    <div class="card m-3 row" style="width: 18rem;">
        {% for product in category.products %}
        {% for image in product.images %}
        <img class="p-0" src="{{ asset('img/products/'~ image.url) }}" class="card-img-top" alt=" {{ image.alt }} ">
        {% endfor %}
        <div class="card-body text-center">
            <h5 class="card-title"> {{ product.title }} </h5>
            <p class="card-text"> {{ product.price }} €</p>
            <a href="{{ path('detail_product', {'product': product.id }) }}"
                class="btn myBtn m-3">Détail de l'article</a>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}