{% extends 'base-site.html.twig' %}

{% block body %}
{% for category in categories %}
<h2> {{ category.name }} </h2>
<div class="container mb-5 d-flex flex-row flex-wrap justify-content-center align-items-center cards-container">  
    {% for product in category.products %}
    <div class="card m-3 row" style="width: 15rem;">
        {% for image in product.images %}
        <img class="p-0" src="{{ asset('img/products/'~ image.url) }}" class="card-img-top" alt=" {{ image.alt }} ">
        {% endfor %}
        <div class="card-body d-flex flex-column align-items-center justify-content-around">
            <p class="card-title fs-5 text-center"> {{ product.title }} </p>
            <p class="card-text"> {{ product.price }} €</p>
            <a href="{{ path('detail_product', {'product': product.id }) }}" class="myBtn">Voir</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock body %}