<div class="container-fluid p-0 header-admin">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <div class="navbar-collapse d-flex justify-content-between align-items-center" id="navbarNav">
            <ul class="d-flex flex-row m-0">
                <!--CATEGORIES-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white pl-3" href="#" id="navbarDarkDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a></li>
                        <li><a class="dropdown-item" href="{{ path('category_new') }}">Ajouter une catégorie</a></li>
                    </ul>
                </li>
                <!--ARTICLES-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Articles
                    </a>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('product_index') }}">Tous les articles</a></li>
                        <li><a class="dropdown-item" href="{{ path('product_new') }}">Ajouter un article</a></li>
                    </ul>
                </li>
                <!--UTILISATEURS-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Utilisateurs
                    </a>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('user_index') }}">Tous les utilisateurs</a></li>
                        <li><a class="dropdown-item" href="{{ path('user_new') }}">Ajouter un utilisateur</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>